# Merge to anonymize case ids in the proprietary dataset

In [68]:
fn_logs = {
    'propr': './data/proprietary.csv',
    'propr_anonymized': './data/proprietary1.csv',
}

In [69]:
import pandas as pd

In [70]:
df = pd.read_csv(fn_logs['propr'])
df = df.dropna(how='all')
print(df['PI_ID'].nunique())
df

1731

,Activity,PI_ID,Start,End,Originator,Weekday,"School holidays; 0 = no, 1 = yes",Approval; 1 = low sum to 4 = high sum,Type of loan; 0 = normal; 1 = special,Cost
0,Approval_Branch,005141EEB1240B31C12577DF004F6A77,18/11/2010 15:27,18/11/2010 15:58,004-9-1,Thursday,0.0,2.0,0.0,"0,87 € per minute"
1,Precheck,005141EEB1240B31C12577DF004F6A77,19/11/2010 12:45,19/11/2010 12:46,000-3-01,Friday,0.0,2.0,0.0,"0,87 € per minute"
2,Precheck,005141EEB1240B31C12577DF004F6A77,24/11/2010 8:18,24/11/2010 8:26,000-2-01,Wednesday,0.0,2.0,0.0,"0,87 € per minute"
3,Check_of_Processing_Applications,005141EEB1240B31C12577DF004F6A77,24/11/2010 10:35,24/11/2010 10:35,000-2-01,Wednesday,0.0,2.0,0.0,"0,87 € per minute"
4,Processing_of_Applications,005141EEB1240B31C12577DF004F6A77,2/12/2010 10:46,2/12/2010 10:46,010-23-11,Thursday,0.0,2.0,0.0,"1,02 € per minute"
...,...,...,...,...,...,...,...,...,...,...
18440,Precheck,FFFF329EF772D73CC12577EA00534A1C,13/12/2010 11:38,13/12/2010 11:40,000-2-01,Monday,0.0,2.0,0.0,"0,87 € per minute"
18441,Check_of_Processing_Applications,FFFF329EF772D73CC12577EA00534A1C,13/12/2010 12:06,13/12/2010 12:14,000-2-01,Monday,0.0,2.0,0.0,"0,87 € per minute"
18442,Processing_of_Applications,FFFF329EF772D73CC12577EA00534A1C,22/12/2010 11:48,22/12/2010 11:48,010-23-07,Wednesday,1.0,2.0,0.0,"1,02 € per minute"
18443,Archieving,FFFF329EF772D73CC12577EA00534A1C,22/12/2010 11:49,22/12/2010 13:19,010-23-07,Wednesday,1.0,2.0,0.0,"1,02 € per minute"
18444,End,FFFF329EF772D73CC12577EA00534A1C,22/12/2010 13:19,22/12/2010 13:19,010-23-07,Wednesday,1.0,2.0,0.0,"1,02 € per minute"

In [71]:
df_new = pd.read_csv(fn_logs['propr_anonymized'])
df_new = df_new.dropna(how='all')
print(df_new['PI_ID'].nunique())
df_new

1731

,Activity,PI_ID,Start,End,Originator,Weekday,Cost
0,Approval_Branch,ID-1,18/11/2010 15:27,18/11/2010 15:58,004-9-1,Thursday,"0,87 € per minute"
1,Precheck,ID-1,19/11/2010 12:45,19/11/2010 12:46,000-3-01,Friday,"0,87 € per minute"
2,Precheck,ID-1,24/11/2010 8:18,24/11/2010 8:26,000-2-01,Wednesday,"0,87 € per minute"
3,Check_of_Processing_Applications,ID-1,24/11/2010 10:35,24/11/2010 10:35,000-2-01,Wednesday,"0,87 € per minute"
4,Processing_of_Applications,ID-1,2/12/2010 10:46,2/12/2010 10:46,010-23-11,Thursday,"1,02 € per minute"
...,...,...,...,...,...,...,...
18440,Precheck,ID-1731,13/12/2010 11:38,13/12/2010 11:40,000-2-01,Monday,"0,87 € per minute"
18441,Check_of_Processing_Applications,ID-1731,13/12/2010 12:06,13/12/2010 12:14,000-2-01,Monday,"0,87 € per minute"
18442,Processing_of_Applications,ID-1731,22/12/2010 11:48,22/12/2010 11:48,010-23-07,Wednesday,"1,02 € per minute"
18443,Archieving,ID-1731,22/12/2010 11:49,22/12/2010 13:19,010-23-07,Wednesday,"1,02 € per minute"
18444,End,ID-1731,22/12/2010 13:19,22/12/2010 13:19,010-23-07,Wednesday,"1,02 € per minute"

In [72]:
df_new = df_new.merge(
    df, how='inner', 
    on=[
        'Activity', 'Start', 'End', 'Originator', 'Weekday', 'Cost',
    ],
    suffixes=['_anonymized', '_original']
)
mapping = df_new[['PI_ID_anonymized', 'PI_ID_original']].drop_duplicates()
print(len(mapping))
gb_anonymized = mapping.groupby('PI_ID_anonymized').size().to_frame().reset_index().rename(columns={0: 'size'})
gb_original = mapping.groupby('PI_ID_original').size().to_frame().reset_index().rename(columns={0: 'size'})
# OUTPUT: 12 rows (i.e., 12 PI_ID_anonymized values are mapped to more than one PI_ID_original)
gb_anonymized[gb_anonymized['size'] > 1]
# OUTPUT: 12 rows (i.e., 12 PI_ID_original values are mapped to more than one PI_ID_anonymized)
# gb_original[gb_original['size'] > 1]

1743

     PI_ID_anonymized  size
64            ID-1056     2
160           ID-1142     2
618           ID-1555     2
769           ID-1691     2
918            ID-267     2
1186           ID-508     2
1471           ID-765     2
1489           ID-781     2
1499           ID-790     2
1576            ID-86     2
1628           ID-906     2
1683           ID-956     2