In [114]:
import pandas as pd

# load datasets
df_old = pd.read_excel('./data/Dataset_Original.xlsx')
df_new = pd.read_excel('./data/Dataset_Anonymized.xlsx')

In [115]:
df_old

,Activity,PI_ID,Start,End,Originator,Weekday,"School holidays; 0 = no, 1 = yes",Approval; 1 = low sum to 4 = high sum,Type of loan; 0 = normal; 1 = special,Cost
0,Approval_Branch,005141EEB1240B31C12577DF004F6A77,2010-11-18 15:27:34,2010-11-18 15:58:59,004-9-1,Thursday,0,2,0,"0,87 € per minute"
1,Precheck,005141EEB1240B31C12577DF004F6A77,2010-11-19 12:45:54,2010-11-19 12:46:25,000-3-01,Friday,0,2,0,"0,87 € per minute"
2,Precheck,005141EEB1240B31C12577DF004F6A77,2010-11-24 08:18:22,2010-11-24 08:26:55,000-2-01,Wednesday,0,2,0,"0,87 € per minute"
3,Check_of_Processing_Applications,005141EEB1240B31C12577DF004F6A77,2010-11-24 10:35:36,2010-11-24 10:35:47,000-2-01,Wednesday,0,2,0,"0,87 € per minute"
4,Processing_of_Applications,005141EEB1240B31C12577DF004F6A77,2010-12-02 10:46:11,2010-12-02 10:46:25,010-23-11,Thursday,0,2,0,"1,02 € per minute"
...,...,...,...,...,...,...,...,...,...,...
18440,Precheck,FFFF329EF772D73CC12577EA00534A1C,2010-12-13 11:38:08,2010-12-13 11:40:59,000-2-01,Monday,0,2,0,"0,87 € per minute"
18441,Check_of_Processing_Applications,FFFF329EF772D73CC12577EA00534A1C,2010-12-13 12:06:36,2010-12-13 12:14:54,000-2-01,Monday,0,2,0,"0,87 € per minute"
18442,Processing_of_Applications,FFFF329EF772D73CC12577EA00534A1C,2010-12-22 11:48:38,2010-12-22 11:48:54,010-23-07,Wednesday,1,2,0,"1,02 € per minute"
18443,Archieving,FFFF329EF772D73CC12577EA00534A1C,2010-12-22 11:49:05,2010-12-22 13:19:07,010-23-07,Wednesday,1,2,0,"1,02 € per minute"
18444,End,FFFF329EF772D73CC12577EA00534A1C,2010-12-22 13:19:07,2010-12-22 13:19:08,010-23-07,Wednesday,1,2,0,"1,02 € per minute"

In [116]:
df_new

,Activity,PI_ID,Start,End,Originator,Weekday,Cost
0,Approval_Branch,ID-1,2010-11-18 15:27:34,2010-11-18 15:58:59,004-9-1,Thursday,"0,87 € per minute"
1,Precheck,ID-1,2010-11-19 12:45:54,2010-11-19 12:46:25,000-3-01,Friday,"0,87 € per minute"
2,Precheck,ID-1,2010-11-24 08:18:22,2010-11-24 08:26:55,000-2-01,Wednesday,"0,87 € per minute"
3,Check_of_Processing_Applications,ID-1,2010-11-24 10:35:36,2010-11-24 10:35:47,000-2-01,Wednesday,"0,87 € per minute"
4,Processing_of_Applications,ID-1,2010-12-02 10:46:11,2010-12-02 10:46:25,010-23-11,Thursday,"1,02 € per minute"
...,...,...,...,...,...,...,...
18440,Precheck,ID-1731,2010-12-13 11:38:08,2010-12-13 11:40:59,000-2-01,Monday,"0,87 € per minute"
18441,Check_of_Processing_Applications,ID-1731,2010-12-13 12:06:36,2010-12-13 12:14:54,000-2-01,Monday,"0,87 € per minute"
18442,Processing_of_Applications,ID-1731,2010-12-22 11:48:38,2010-12-22 11:48:54,010-23-07,Wednesday,"1,02 € per minute"
18443,Archieving,ID-1731,2010-12-22 11:49:05,2010-12-22 13:19:07,010-23-07,Wednesday,"1,02 € per minute"
18444,End,ID-1731,2010-12-22 13:19:07,2010-12-22 13:19:08,010-23-07,Wednesday,"1,02 € per minute"

In [117]:
# use only common columns
df_old = df_old[df_new.columns]
df_old

,Activity,PI_ID,Start,End,Originator,Weekday,Cost
0,Approval_Branch,005141EEB1240B31C12577DF004F6A77,2010-11-18 15:27:34,2010-11-18 15:58:59,004-9-1,Thursday,"0,87 € per minute"
1,Precheck,005141EEB1240B31C12577DF004F6A77,2010-11-19 12:45:54,2010-11-19 12:46:25,000-3-01,Friday,"0,87 € per minute"
2,Precheck,005141EEB1240B31C12577DF004F6A77,2010-11-24 08:18:22,2010-11-24 08:26:55,000-2-01,Wednesday,"0,87 € per minute"
3,Check_of_Processing_Applications,005141EEB1240B31C12577DF004F6A77,2010-11-24 10:35:36,2010-11-24 10:35:47,000-2-01,Wednesday,"0,87 € per minute"
4,Processing_of_Applications,005141EEB1240B31C12577DF004F6A77,2010-12-02 10:46:11,2010-12-02 10:46:25,010-23-11,Thursday,"1,02 € per minute"
...,...,...,...,...,...,...,...
18440,Precheck,FFFF329EF772D73CC12577EA00534A1C,2010-12-13 11:38:08,2010-12-13 11:40:59,000-2-01,Monday,"0,87 € per minute"
18441,Check_of_Processing_Applications,FFFF329EF772D73CC12577EA00534A1C,2010-12-13 12:06:36,2010-12-13 12:14:54,000-2-01,Monday,"0,87 € per minute"
18442,Processing_of_Applications,FFFF329EF772D73CC12577EA00534A1C,2010-12-22 11:48:38,2010-12-22 11:48:54,010-23-07,Wednesday,"1,02 € per minute"
18443,Archieving,FFFF329EF772D73CC12577EA00534A1C,2010-12-22 11:49:05,2010-12-22 13:19:07,010-23-07,Wednesday,"1,02 € per minute"
18444,End,FFFF329EF772D73CC12577EA00534A1C,2010-12-22 13:19:07,2010-12-22 13:19:08,010-23-07,Wednesday,"1,02 € per minute"

In [118]:
# assuming line indices match, check if cell values match 

# compare() returns a DataFrame showing the differences
# if return empty, then the two have equal values
# EXPECT: only the two PI_ID columns are unmatched (due to anonymization)
df_diff = df_old.compare(df_new).rename(columns={'self': 'original', 'other': 'anonymized'})
df_diff

# TRUE: indices match

                                  PI_ID
                               original anonymized
0      005141EEB1240B31C12577DF004F6A77       ID-1
1      005141EEB1240B31C12577DF004F6A77       ID-1
2      005141EEB1240B31C12577DF004F6A77       ID-1
3      005141EEB1240B31C12577DF004F6A77       ID-1
4      005141EEB1240B31C12577DF004F6A77       ID-1
...                                 ...        ...
18440  FFFF329EF772D73CC12577EA00534A1C    ID-1731
18441  FFFF329EF772D73CC12577EA00534A1C    ID-1731
18442  FFFF329EF772D73CC12577EA00534A1C    ID-1731
18443  FFFF329EF772D73CC12577EA00534A1C    ID-1731
18444  FFFF329EF772D73CC12577EA00534A1C    ID-1731

[18445 rows x 2 columns]

In [119]:
# ignore the extra 'PI_ID' name in the column
df_diff.columns = df_diff.columns.get_level_values(1)
df_diff

                               original anonymized
0      005141EEB1240B31C12577DF004F6A77       ID-1
1      005141EEB1240B31C12577DF004F6A77       ID-1
2      005141EEB1240B31C12577DF004F6A77       ID-1
3      005141EEB1240B31C12577DF004F6A77       ID-1
4      005141EEB1240B31C12577DF004F6A77       ID-1
...                                 ...        ...
18440  FFFF329EF772D73CC12577EA00534A1C    ID-1731
18441  FFFF329EF772D73CC12577EA00534A1C    ID-1731
18442  FFFF329EF772D73CC12577EA00534A1C    ID-1731
18443  FFFF329EF772D73CC12577EA00534A1C    ID-1731
18444  FFFF329EF772D73CC12577EA00534A1C    ID-1731

[18445 rows x 2 columns]

In [120]:
# check the mapping
# EXPECT: one-to-one mapping between unique values of `original` and
# `anonymized`

df_diff.drop_duplicates()

                               original anonymized
0      005141EEB1240B31C12577DF004F6A77       ID-1
7      0051574BDF30D681C1257888004DC40D       ID-2
18     00FAC674CB682852C125783900354482       ID-3
37     01014611DCAF6000C12577B400256F79       ID-4
49     01100413B9061A56C1257864003CCA34       ID-5
...                                 ...        ...
18402  FF8174DDD2F1542BC12577FB00496ED4    ID-1727
18408  FFAB25BE48C9B474C12577EE0034A3EA    ID-1728
18417  FFAE4641B2711A82C125779200404B1C    ID-1729
18427  FFDB7AA6D5B34B2DC12577F6004ADC13    ID-1730
18434  FFFF329EF772D73CC12577EA00534A1C    ID-1731

[1731 rows x 2 columns]

In [121]:
df_old['PI_ID_anonymized'] = df_new['PI_ID']
df_old

C:\Users\yangj29\AppData\Local\Temp\ipykernel_23148\266192995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_old['PI_ID_anonymized'] = df_new['PI_ID']

,Activity,PI_ID,Start,End,Originator,Weekday,Cost,PI_ID_anonymized
0,Approval_Branch,005141EEB1240B31C12577DF004F6A77,2010-11-18 15:27:34,2010-11-18 15:58:59,004-9-1,Thursday,"0,87 € per minute",ID-1
1,Precheck,005141EEB1240B31C12577DF004F6A77,2010-11-19 12:45:54,2010-11-19 12:46:25,000-3-01,Friday,"0,87 € per minute",ID-1
2,Precheck,005141EEB1240B31C12577DF004F6A77,2010-11-24 08:18:22,2010-11-24 08:26:55,000-2-01,Wednesday,"0,87 € per minute",ID-1
3,Check_of_Processing_Applications,005141EEB1240B31C12577DF004F6A77,2010-11-24 10:35:36,2010-11-24 10:35:47,000-2-01,Wednesday,"0,87 € per minute",ID-1
4,Processing_of_Applications,005141EEB1240B31C12577DF004F6A77,2010-12-02 10:46:11,2010-12-02 10:46:25,010-23-11,Thursday,"1,02 € per minute",ID-1
...,...,...,...,...,...,...,...,...
18440,Precheck,FFFF329EF772D73CC12577EA00534A1C,2010-12-13 11:38:08,2010-12-13 11:40:59,000-2-01,Monday,"0,87 € per minute",ID-1731
18441,Check_of_Processing_Applications,FFFF329EF772D73CC12577EA00534A1C,2010-12-13 12:06:36,2010-12-13 12:14:54,000-2-01,Monday,"0,87 € per minute",ID-1731
18442,Processing_of_Applications,FFFF329EF772D73CC12577EA00534A1C,2010-12-22 11:48:38,2010-12-22 11:48:54,010-23-07,Wednesday,"1,02 € per minute",ID-1731
18443,Archieving,FFFF329EF772D73CC12577EA00534A1C,2010-12-22 11:49:05,2010-12-22 13:19:07,010-23-07,Wednesday,"1,02 € per minute",ID-1731
18444,End,FFFF329EF772D73CC12577EA00534A1C,2010-12-22 13:19:07,2010-12-22 13:19:08,010-23-07,Wednesday,"1,02 € per minute",ID-1731

In [122]:
df_old[['PI_ID', 'PI_ID_anonymized']].groupby('PI_ID').agg(
    num_anonymized_values=pd.NamedAgg('PI_ID_anonymized', 'nunique')
)['num_anonymized_values'].unique()

array([1], dtype=int64)

In [123]:
df_old[['PI_ID', 'PI_ID_anonymized']].groupby('PI_ID_anonymized').agg(
    num_original_values=pd.NamedAgg('PI_ID', 'nunique')
)['num_original_values'].unique()

array([1], dtype=int64)